.profile {
  width: 240px;
  margin: 1rem;
  margin-bottom: 15px;
  padding-top: 30px;
  border-radius: 10px;
  position: relative;

  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;

  font-size: 14px;
}

.name {
  font-weight: 700;
  font-size: 18px;
}

p {
  margin: 0;
}

.stats {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  padding-left: 0;
  background-color: #eeedf3;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.statsEl {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  width: 80px;
  font-size: 12px;
  padding: 15px;
}

.statsEl:not(:first-child) {
  border-left: solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.quantity {
  font-weight: 700;
}
