.transactionHistory {
  border-collapse: collapse;
  width: 350px;
  text-align: center;
  margin: 5px;
}

.transactionHistory.td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transactionHistory.th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
